<div class="container container-bg z-depth-1">
  <div class="container-bg-wrapper">
    <div class="row">
      <div class="col s12">
        <section>
          <h2>What is FAFStats?</h2>
          <p>FAFStats is a statistics, utilities and advanced stalking assistance tool for the <a ng-href="http://faforever.com">FAForever</a> community.</p>
          <p>FAFStats only supports Ladder 1v1 games and we are not planning on expanding.</p>
        </section>
        <section>
          <h3>Known issues</h3>
          <ul>
            <li>* Login doesn't work. In the current workaround you should be able to log into anyones profile for testing purposes</li>
            <li>* Sometimes going to previous page doesn't load the page content correctly</li>
            <li>* The page has to be reloaded after logging in</li>
            <li>* Rating Evolution & Faction Distribution charts are not currently functional</li>
            <li>* The FAF API doesn't always return CORS header, so some stuff may seem buggy...</li>
          </ul>
        </section>
        <section>
          <h3>Contribution</h3>
          <p>We are extremely reliant on <a ng-href="https://github.com/FAForever/api">the official FAF API
          </a>, the best way to support FAFStats is to contribute to the API.</p>
        </section>
        <section>
          <h3>Planned functionality</h3>
          <ul>
            <li>* A betting system, where users will be able to bet some sort of points on high
              level ladder matches</li>
          </ul>
        </section>
      </div>
    </div>
  </div>
</div>
