<div class="container container-bg z-depth-1">
  <div class="container-bg-wrapper">
    <div class="row">
      <div class="col s12">
        <h2>What is FAFStats?</h2>
        <p>FAFStats is a statistics, utilities and advanced stalking assistance tool for the <a ng-href="http://faforever.com">FAForever</a> community.</p>
      </div>
    </div>
    <div class="row">
      <div class="col s12">
        <h3>Known issues</h3>
        <ul>
          <li>* Login doesn't work. In the current workaround you should be able to log into anyones profile for testing purposes</li>
          <li>* Sometimes going to previous page doesn't load the page content correctly</li>
          <li>* The page has to be reloaded after logging in</li>
          <li>* Rating Evolution & Faction Distribution charts are not currently functional</li>
          <li>* The FAF API doesn't always return CORS header, so some stuff may seem buggy...</li>
        </ul>
      </div>
    </div>
  </div>
</div>
