.player-hero {
  margin-top: 40px;
}

.player-name {
  font-size: 48px;
  font-weight: 300;
  position: relative;
  bottom: 45px;
  margin: 20px;
}

.player-rating {
  font-size: 48px;
  font-weight: 300;
  position: relative;
  bottom: -10px;
  margin: 20px;
  margin-right: 50px;
}
