.search-suggest {
  position: absolute;
  width: 19%;
  background: white;
  text-align: center;
  border-radius: 5px;
  z-index: 10000;

  ul {
    line-height: 24px;
  }

  li {
    padding: 4px;
    width: 100%;
    :hover {
      background: $secondary-color;
    }
  }

  a {
    color: #111;
    padding: 4px;
    border-radius: 5px;
    width: 100%;

    :hover {
      color: #f5f5f5;
    }
  }
}

/* Fix broken search on Chrome */
nav .nav-wrapper form, nav .nav-wrapper form .input-field{
  height: 64px;
}
