html {
  background-color: lighten($primary-color, 50%);
}

body {
  color: #111;
}

.player-name {
  margin-top: 18px;
}

.player-name > h3 {
  font-size: 48px;
  font-weight: 300;
  line-height: 1.5;
}
