html {
  background-color: lighten($primary-color, 70%);
}

body {
  /* Sticky Footer */
  display: flex;
  min-height: 100vh;
  flex-direction: column;

  color: #111;
}

main {
  flex: 1 0 auto;
}

.site a:link {
  color: $secondary-color;
}

.site a:visited {
  color: $secondary-color;
}

.container-bg {
  background-color: #fff;
}

.container-bg-wrapper {
  margin: 25px;
}
