<div class="container">
  <div class="row">
    <div class="col s8 m8">
      <div class="card">
        <div class="card-content">
          <div class="row">
            <div class="col s12 m3 l4 card-image">
              <img src="http://placehold.it/128x128/ccc">
            </div>
            <div class="col s12 m9 l8 player-name">
              <h3>{{player.data.attributes.login}}</h3>
            </div>
          </div>

          <p>Description</p>

          <br>
          <hr>
          <br>

          <h5>Recent Comments</h5>
          <ul>
            <li>asdf</li>
            <li>asdf2</li>
            <li>asdf3</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col s4 m4">
      <div class="card">
        <div class="card-content">
          <span class="card-title">Ladder Rating</span>
          <h3>{{player.data.attributes.rating}} <i class="green-text small">+15</i><i class="green-text small material-icons">trending_up</i></h3>
        </div>
      </div>
    </div>

    <div class="col s12 m4">
      <div class="card">
        <div class="card-content">
          <span class="card-title">Faction Statistics</span>
          <canvas id="factionChart" width="200" height="200"></canvas>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col s12 m12 l6">
      <div class="card">
        <div class="card-content">
          <span class="card-title"><h3>Rating Evolution</h3></span>
          <canvas id="ratingEvolutionChart" width="600" height="400"></canvas>
        </div>
      </div>
    </div>
    <div class="col s12 m12 l6">
      <div class="card">
        <div class="card-content">
          <h3>Match History</h3>
          <table>
            <tr>
              <th>Game ID</th>
              <th>Player 1</th>
              <th>Player 2</th>
              <th>Map Name</th>
            </tr>
            <tr ng-repeat="game in games.data">
              <td><a ng-href="/#/game/{{game.attributes.id}}">{{game.attributes.id}}</a></td>
              <td><a ng-href="/#/player/{{game.attributes.players[0].player_id}}">{{game.attributes.players[0].login}}</a></td>
              <td><a ng-href="/#/player/{{game.attributes.players[1].player_id}}">{{game.attributes.players[1].login}}</a></td>
              <td>{{game.attributes.map_name}}</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
