<h1>Blodir</h1>

<h4>Ladder Rating</h4>
<h2>2115</h2>

<hr/>

<h2>Faction Statistics</h2>
<p>Pie chart goes here</p>

<h2>Rating Evolution</h2>
<p>Line chart goes here</p>

<h2>Match History</h2>
<table>
  <tr>
    <th>Player 1</th>
    <th>Player 2</th>
    <th>Map Name</th>
  </tr>
  <tr>
    <td>Blodir (2100 + 15)</td>
    <td>Zock (2300 - 15)</td>
    <td>Roanoke Abyss</td>
  </tr>
  <tr ng-onclick="">
    <td>ZLO (2100 + 8)</td>
    <td>Blodir (2108 - 8)</td>
    <td>Loki</td>
  </tr>
</table>
