<!DOCTYPE html>
<html>
<head>
  <title>FAFStats</title>
  <%= stylesheet_link_tag    'application.min', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <!-- Styles -->
  <link rel="stylesheet" href="https://code.getmdl.io/1.1.3/material.brown-orange.min.css" />

</head>
<body>

<%= yield %>

</body>
</html>
