<!DOCTYPE html>
<html>
<head>
  <title>FAFStats</title>
  <%= csrf_meta_tags %>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <%= stylesheet_link_tag "app.min.css", media: "all" %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</head>
<body ng-app="FAFStats">
  <nav>
    <div class="nav-wrapper container">
      <a href="#" class="brand-logo center">FAFStats</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="left hide-on-med-and-down">
        <li><a href="/#/playertemplate">playertemplate</a></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a href="/#/playertemplate">playertemplate</a></li>
      </ul>
    </div>
  </nav>
  <!-- Using Angular for routing -->
  <div ng-view></div>
</body>
</html>
