<!DOCTYPE html>
<html>
<head>
  <title>FAFStats</title>
  <%= csrf_meta_tags %>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <%= stylesheet_link_tag "app.css", media: "all" %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</head>
<body ng-app="FAFStats">
  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo center">FAFStats</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse">
        <i class="material-icons">menu</i>
      </a>
      <ul class="left hide-on-med-and-down">
        <li><a href="/#/games">Replays</a></li>
        <li><a href="/#/leaderboards">Leaderboards</a></li>
      </ul>
        <ul class="right hide-on-med-and-down">
          <li>
            <form>
              <div class="input-field">
                <input id="search" type="search" required placeholder="Player Search">
                <label for="search"><i class="material-icons">search</i></label>
                <i class="material-icons">close</i>
              </div>
            </form>
          </li>
          <li><a class="btn waves-effect waves-light" href="auth/faf">Login via FAF</a></li>
        </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a href="">Replays</a></li>
        <li><a href="/#/leaderboards">Leaderboards</a></li>
        <li><a href="/#/playertemplate">Playertemplate</a></li>
        <li><a href="auth/faf">Login via FAF</a></li>
      </ul>
    </div>
  </nav>
  <!-- Using Angular for routing -->
  <main ng-view></main>

  <footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col s12">
          <h5 class="white-text">What is FAFStats</h5>
          <p class="grey-text text-lighten-4">
            FAFStats is a third party statistics tool for <a ng-href="http://www.faforever.com/">Forged Alliance Forever</a>.
          </p>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Github repository: <a ng-href="https://github.com/iilumme/FAFStats">FAFStats</a>
      </div>
    </div>
  </footer>
</body>
</html>
