<!DOCTYPE html>
<html>
<head>
  <title>FAFStats</title>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="https://code.getmdl.io/1.1.3/material.brown-orange.min.css" />
  <%= stylesheet_link_tag 'application.min', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</head>
<body ng-app="FAFStats">
  <!-- Using Angular for routing -->
  <div ng-view></div>
</body>
</html>
